div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#violet {border-color: #d300c9;
   border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#red {border-color: #f00;  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; }
#blue {border-color: #06f;  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; }
#yellow {border-color:#ff0;   border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; }
#orange {border-color: #ffa500;  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; }
#green {border-color: #00bc3f;  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; }
#indigo {border-color: #8a2be2;  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; }
